<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OrdenServicioView</display-name>
	<servlet>
		<description>
		</description>
		<display-name>MicroServiceServlet</display-name>
		<servlet-name>MicroServiceServlet</servlet-name>
		<servlet-class>com.cvezga.uiform.MicroServiceServlet</servlet-class>
		<init-param>
		  <description></description>
		  <param-name>os.ms</param-name>
		  <param-value>com.vvs.ordenservicio.OrdenServicioBO</param-value>
		</init-param>
		<init-param>
		  <description></description>
		  <param-name>json_test.ms</param-name>
		  <param-value>com.vvs.ordenservicio.OrdenServicioBO</param-value>
		</init-param>
	</servlet>
	<!-- 
	<servlet>
		<description>
		</description>
		<display-name>UploadImageServlet</display-name>
		<servlet-name>UploadImageServlet</servlet-name>
		<servlet-class>com.cvezga.uiform.UploadImageServlet</servlet-class>
	</servlet>
	 -->
	<servlet>
		<description>
		</description>
		<display-name>GenerarReporteServlet</display-name>
		<servlet-name>GenerarReporteServlet</servlet-name>
		<servlet-class>com.vvs.ordenservicio.GenerarReporteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MicroServiceServlet</servlet-name>
		<url-pattern>*.ms</url-pattern>
	</servlet-mapping>
	<!--
	<servlet-mapping>
		<servlet-name>UploadImageServlet</servlet-name>
		<url-pattern>/uploadImage</url-pattern>
	</servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>GenerarReporteServlet</servlet-name>
		<url-pattern>/reporte</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- 
	<security-constraint>   
                <web-resource-collection>   
                        <web-resource-name>Protected Area</web-resource-name>   
                        <url-pattern>/os.html</url-pattern>   
                </web-resource-collection>   

                <auth-constraint>   
                        <role-name>Engineering</role-name>   
                        <role-name>Migration Expert</role-name>   
                        <role-name>Developers</role-name>   
                </auth-constraint>   
     </security-constraint>

	<error-page>
		<error-code>404</error-code>
		<location>/index.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/NoAccess.html</location>
	</error-page>
	-->
	<resource-ref>
 <description>postgreSQL Datasource example</description>
 <res-ref-name>jdbc/postgres</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>
</web-app>
